<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Welcome to Glitch </title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.12.0.min.js "></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js "></script>

    <link rel="stylesheet" href="/static/stylemain.css">
    <script src="/static/scripts.js"></script>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Glitch </h3>
            </div>
            <ul class="list-unstyled components">
                <p>Because Problems occur sometimes.🐈‍⬛🐈‍⬛
                </p>
                <br><br><br><br><br>
                <br><br><br><br><br>
                <br><br><br><br><br>
                <br><br><br><br><br>
                <br><br><br><br><br>
            </ul>
            <ul class="list-unstyled CTAs">

                <li><a href="/login" class="article">Login</a></li>
            </ul>
        </nav>

        <div id="content">
            <div class="col">
                <h1>Chaos Experiment with Glitch</h1>

</html>