<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Welcome to Glitch </title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/static/stylemain.css">
    <script src="/static/scripts.js"></script>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Glitch </h3>
            </div>
            <ul class="list-unstyled components">
                <p>Because Problems occur sometimes.🐈‍⬛🐈‍⬛
                </p>
                <br><br><br><br><br>
                <br><br><br><br><br>
                <br><br><br><br><br>
        </nav>

        <div id="content">
            <div class="login-main-text">
                <h1>Register</h1>
                <br>
                <div class="col">
                    <form action="" method="POST">
                        <div class="login-screen">

                            <div class="login-form">
                                <div class="control-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" value="" placeholder="Email" name="email">
                                </div>
                                <div class="control-group">
                                    <label>User Name</label>
                                    <input type="text" class="form-control" value="" placeholder="username" name="username">
                                </div>

                                <div class="control-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" value="" placeholder="password" name="password">
                                </div>
                                <br>
                                <button type="submit" class="btn btn-black">Register</button>

                                <br>
                            </div>
                        </div>
                </div>
                </form>